.crystals {
  display: flex;
  justify-content: space-around;
}
.crystal-image {
  height: 100px;
  width: 100px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  font-size: 15px;
}
.jumbotron {
  background-image: url("../images/macro-crystal-facebook-cover-timeline-banner-for-fb.jpg");
  background-size: cover;
  width: 100%;
  color: black;
  font-weight: 100%;
}
p {
  font-size: 24px;
  font-weight: bold;
  border: solid, black;
}
.card-body {
  margin-top: 5px;
  padding: 3px;
}
.list-group-item {
  margin: 5px;
  height: 50%;
  width: 50%;
}
